* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(20, 39, 218); */
}

/* ---------------- */
/* ---------------- */
/* ---------------- */
/* Global styles */
/* ---------------- */
/* ---------------- */
/* ---------------- */

/* ---------------- */
/* Font styles */
/* ---------------- */

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.fw-b {
  font-weight: 700;
}

.fw-t {
  font-weight: 100;
}

.ls {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

/* ---------------- */
/* Font size */
/* ---------------- */

html,
a,
li {
  font-size: 16px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

.h2-med {
  font-size: 1.2rem;
}

.fs-micro {
  font-size: 0.6rem;
}

.fs-tiny {
  font-size: 0.7rem;
}


.fs-g-circle-small {
  font-size: 1rem;
}

.fs-g-question {
  font-size: 1.6rem;
}

.ul-q-item {
  font-size: 1.2rem;
}

/* ---------------- */
/* Element styles  */
/* ---------------- */

hr {
  width: 60%;
  background: #fff;
  color: #dcdcdc;
}

.c-round-s {
  border-radius: 0.8rem;
  padding: 10px;
}

.c-round {
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.c-circle {
  border-radius: 50%;
}

.btn-empty {
  border: 1px solid #b2222a;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-full {
  padding: 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.field-full {
  padding: 1rem;
  margin-bottom: 1.2rem;
  width: 500px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.field-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -10px;
  left: -20px;
}

/* ----------------- */
/* Background Colors */
/* ----------------- */

.bc-transparant {
  background-color: rgba(0, 0, 0, 0);
}

.bc-white {
  background-color: #fff;
}

.bc-red {
  background-color: #b2222a;
}

.bc-broken-white {
  background-color: #eee;
}

.bc-brokener-white {
  background-color: #f7f7f7;
}

.bc-sand {
  background-color: #dbd2cb;
}

.bc-yellow {
  background-color: #fed731;
}

.bc-dark-grey {
  background-color: #333;
}

.bc-grey {
  background-color: #dcdcdc;
}
/* ----------------- */
/* Text Colors */
/* ----------------- */

.tc-white {
  color: #fff;
}

.tc-grey {
  color: #565656;
}

.tc-red {
  color: #b2222a;
}

.tc-dark-grey {
  color: #333;
}

.background {
  width: 100%;
  height: auto;
}

.container {
  height: auto;
  max-width: 70%;
  min-width: 70%;
  margin: 0 auto;
}

/* ---------------- */
/* ---------------- */
/* ---------------- */

/* ----------------- */
/* >navbar */
/* ----------------- */

.navbar {
  position: relative;
  height: 4rem;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

/* >navbar-logo */

.navbar__logo {
  padding: 1rem;
}

.navbar__logo img {
  margin-right: 40px;
  width: 300px;
  height: auto;
}

/* >navbar-links */

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar p,
.navbar a {
  margin-right: 20px;
}

.navbar__links img {
  margin-left: 20px;
  width: auto;
  height: 40px;
}

/* ---------- */
/* >header */
/* ---------- */

.header {
  position: relative;
  height: 280px;
  width: auto;
  overflow: hidden;
  background: url('/img/wildfire.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrap {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
}

h1,
h2 {
  padding: 2rem;
}

/* ---------- */
/* >plan */
/* ---------- */

.plan {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  width: 480px;
  z-index: 0;
  position: relative;
}

.plan > p {
  margin: 0 20rem;
}

/* >graphic */

.graphic {
  width: 120px;
  height: 130px;
  position: absolute;
  top: 48px;
  left: -30px;
  z-index: 90;
}

.graphic__field {
  width: 120px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.graphic__text {
  text-align: center;
  z-index: 99;
}

.graphic__text .size1 {
  /* height: 100%; */
  font-size: 1.3rem;
}
.graphic__text .size2 {
  /* height: 100%; */
  font-size: 2.4rem;
}
.graphic__text .size3 {
  /* height: 100%; */
  font-size: 2.4rem;
}

.graphic__element-p1 {
  position: absolute;
  left: 0px;
  top: 93px;
  width: 50px;
  height: 50px;
  z-index: 0;
}
.graphic__element-p2 {
  position: absolute;
  left: 30px;
  top: 130px;
  width: 50px;
  height: 30px;
}

/* >card */

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-item__circle {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 4px;
  left: 32px;
}

/* >icon sizing */

.card-item i {
  font-size: 2.2rem;
}

.fa-clock {
}

.fa-clock::before {
}

/* >card */

.card-item__text {
  display: flex;
  align-items: flex-end;
  height: 100%;
  display: flex;
  height: 2rem;
}

.card-item__text h3 {
  line-height: 1;
  margin: 0 0.2rem;
  margin-left: 1.2rem;
}

/* >field */

.field-white {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0.8rem;
  margin-bottom: 8px; */
  position: absolute;
  transform: translate(-0%, -0%);
  bottom: 0px;
}

.field-white > .btn-full {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0px;
  top: 0px;
}

.field-white p {
  margin-top: 13px;
  margin-bottom: 8px;
  padding: 0px 80px;
}

.wrap-arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transform-origin: center center;
  position: absolute;
  top: 85%;
  left: 50%;
}

.fa-angle-down {
  font-size: 1.4rem;
}

/* ---------- */
/* Video */
/* ---------- */

.video {
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube {
  margin: 30px 0px;
}

.fa-file-download {
  font-size: 1.2rem;
}

/* ---------- */
/* Warning systems */
/* ---------- */

.warning-systems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 60px;
}

.warning-systems p {
  margin: 0px 160px;
  margin-bottom: 30px;
}

.warning-systems button {
  margin: 0px 0px;
}

.systems-important {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h2 .important-field {
  text-align: center;
  height: 100px;
  width: 600px;
  border-radius: 20px;
  padding: 10px;
  background-color: #b2222a;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.systems-text {
  text-align: center;
}

.systems-button {
}

/* ---------- */
/* Steps */
/* ---------- */

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 31vh;
  background-color: white;
}

.steps p {
}

h2 .steps-title {
}

/* ---------- */
/* Form */
/* ---------- */

.form {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-intro {
  margin: 0px 40px;
  margin-bottom: 30px;
  text-align: center;
}

.wrap-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin: 0px 20px; */
}

.form-text {
  text-align: left !important;
  margin-bottom: 20px;
}

.index-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 33px;
  left: -20px;
}

.index-graphic h2 span {
  color: white;
}

.wrap-form-elements .field-full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 42px;
}

.board-object p {
  align-items: flex-start;
}

/*radio button styling */

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 30px;
  outline: none;
  position: relative;
  z-index: 1000;
}
body label {
  display: flex;
  line-height: 40px;
  margin-bottom: 20px;
}

label p {
  margin-top: 12px;
}

.option-input {
  border: 1px solid #dcdcdc;
}

.option-input:hover {
  background-color: #eeeeee;
}
.option-input:checked {
  background-color: #b2222a;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background-color: #b2222a;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

/* ---------- */
/* Add info */
/* ---------- */

.add-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.add-info h3 {
  margin-top: 40px;
}

ul {
  text-align: start;
  list-style-position: outside;
}

.unique-list li {
  list-style-position: inside;
  margin-left: 20px;
}

.unique-list .li-1 {
  color: #fff;
  line-height: 2em;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
}
.unique-list .li-1:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f7c0';
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-left: -16px;
  padding-right: 10px;
}

.unique-list .li-2 {
  color: #fff;
  line-height: 2em;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
}
.unique-list .li-2:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f292';
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-left: -16px;
  padding-right: 10px;
}
.unique-list .li-3 {
  color: #fff;
  line-height: 2em;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
}
.unique-list .li-3:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f164';
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-left: -16px;
  padding-right: 10px;
}

li hr {
  width: 100%;
}

.wrap-colum {
  margin: 15px;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 30px 50px;
}

/* ---------- */
/* Contact */
/* ---------- */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b2222a;
  margin: ;
}

.contact p {
  font-size: 0.9rem;
}

.contact li {
  font-size: 0.9rem;
}

.contact h3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.wrap-title {
  text-align: center;
}

.contact-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0px 20px;
  padding-left: 50px;
}

.contact-column {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5px;
  margin: 0px 10px;
}

/* ---------- */
/* Footer */
/* ---------- */

.wrap-footer {
  display: flex;
  width: 100%;
}

.footer-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.footer-links {
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.wrap-copy p {
  display: block;
  width: 100%;
}

.footer-links a {
  color: #fff;
}

.footer-links .fs-micro {
  color: #fff;
}

/* img styling */

.footer-links img {
  width: 50px;
  height: auto;
}

.footer-logos img {
  height: 40px;
  width: auto;
}
