/* ---------- */
/* Contact */
/* ---------- */

.contact {
  @include flex-column-center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: $white;
  background-color: $red;

  &__columns {
    width: 100%;

    &__row {
      padding: 0px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      &__column {
        margin: 0px 10px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        flex-basis: 220px;

        &__paragraphs {
          display: flex;
          flex-direction: column;
          width: 180px;
        }
        &__list {
          &__item {
            margin-left: 20px;
            list-style-position: inside;
          }
        }
      }
    }
  }
}

// list items

.li--1 {
  color: #fff;
  line-height: 2em;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
}

.li--1::before {
  font-size: 1rem;
  font-family: 'Font Awesome 5 Free';
  content: '\f7c0';
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-left: -16px;
  padding-right: 10px;
}

.li--2 {
  line-height: 2em;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
}

.li--2::before {
  font-size: 1rem;
  font-family: 'Font Awesome 5 Free';
  content: '\f292';
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-left: -16px;
  padding-right: 10px;
}

.li--3 {
  color: #fff;
  line-height: 2em;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
}

.li--3::before {
  font-size: 1rem;
  font-family: 'Font Awesome 5 Free';
  content: '\f164';
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-left: -16px;
  padding-right: 10px;
}
